html, body {
  background: #191919;
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  min-width: 250px;
  font-size: 1.15vw;
}

h1 {
  font-family: 'Lekton', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Lekton', sans-serif;
  font-size: 2em;
}

a {
  display: inline-block;
}

ul {
  overflow: hidden;
  list-style-type: none;
}

#info {
  text-align: left;
  font-size: 1.5em;
}

ul#menu li {
  display: inline;
  height: 2em;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;

  a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

#twitter-row {
  width: 33%;
  height: 70%;
  float: left;
}

.row {
  padding: 5%;
  clear: both;
}

img {
  max-width: 100%;
}

#challenge {
  padding: 200px 25px;
}

.challenge-item {
  vertical-align: top;
  display: inline-block;
  width: 38%;
  padding: 2%;
  text-align: left;
  padding: 2em 2%;
  height: 7em;
    border: 1px white dashed;
    margin: 10px;
  h1, p {
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  p {
    font-size: 0.9em;
  }
}

@import 'responsive';