html, body {
  background: #191919;
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  min-width: 250px;
  font-size: 1.5vw;
}

h1 {
  font-family: 'Lekton', sans-serif;
  font-size: 3em;
}

a {
  display: inline-block;
}

ul {
  overflow: hidden;
  list-style-type: none;
}

ul#menu li {
  display: inline;
  height: 1.5em;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

#twitter-row {
  width: 33%;
  height: 70%;
  float: left;
}

.row {
  padding: 5%;
  clear: both;
}

li a {
  text-decoration: none;
  color: white;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@import 'responsive';