html, body {
  background: #191919;
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  min-width: 250px;
  font-size: 1.15vw;
}

h1 {
  font-family: 'Lekton', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Lekton', sans-serif;
  color: #98DFAF;
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

a {
  display: inline-block;
  color: #D4AAF7;
  text-decoration: none;
}

a:hover {
    color: #98DFAF;
  }

ul {
  overflow: hidden;
  list-style-type: none;
}

#navbar {
  text-align: center;
  overflow: hidden;
  background-color: #191919;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#content-container {
  padding: 4%
}

#info {
  float: left;
  text-align: left;
  font-size: 1.5em;
}

ul#menu {
  display: inline-block;
  padding: 0;
  li {
    display: inline;
    height: 2em;
    float: left;
    margin: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }

  li:last-child {
    border-right: none;
  }

  a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  a:hover {
    color: #98DFAF;
  }
}

#twitter {
  width: 50%;
  height: 70%;
  float: right;
}

.row {
  margin-top: 5%;
  padding: 5%;
  overflow: auto;
}

#Intro {
  margin-top: 0;
  padding-top: 0;
}

#logo {
  max-width: 20%;
}

#leftotter {
  max-width: 20%;
  float: left;
  transform: scaleX(-1);
}

#rightotter {
  max-width: 20%;
  float: right;
}

img {
  max-width: 100%;
}

.challenge-item {
  vertical-align: top;
  display: inline-block;
  width: 38%;
  padding: 2%;
  text-align: left;
  padding: 2em 2%;
  height: 7em;
    border: 1px white dashed;
    margin: 10px;
  h1, p {
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  p {
    font-size: 0.9em;
  }
}

@import 'responsive';