@media only screen and (max-width: 860px) {
    #twitter {
      width: 100%;
      margin: 0px 0px;
    }
    #info {
      width: 100%;
      font-size: 2em;
      text-align: center;
    }
}
