<%
	let qa_blocks = [
		{
			question: "What is a hackathon?",
			answer: "Hackathons are often described as a hybrid between a career fair and a science fair. A creative community of programmers - from novices to experienced - come together for 36 hours to make amazing projects. The projects are then judged by tech professionals from the industry and from academia."
		},
		{
			question: "When will SB Hacks take place?",
			answer: "SB Hacks V will take place on Friday, January 10, 2020, and conclude on Sunday, January 12, 2020."
		},
		{
			question: "Who can attend?",
			answer: "SB Hacks is accepting college students, graduate / PhD students, and high school students who are 18 or older."
		},
		{
			question: "Do you offer travel assistance?",
			answer: "At the moment, we will not be offering travel reimbursements. The bus schedule is to be determined."
		},
		{
			question: "When will acceptances come out?",
			answer: "Acceptances go out in early January for California hackers and a bit earlier for out-of-state applicants. "
		},
		{
			question: "When can I apply?",
			answer: "Applications open early November and will close on December 20th."
		},
		{
			question: "What can I win?",
			answer: "Our prizes and their accompanying page is in the works and will be up shortly before the event!"
		},
		{
			question: "Can I compete in a team?",
			answer: "Yes, the maximum is 4 people per team. If you do not enter with a team, no worries! A team formation event will take place at the start of the hackathon."
		},
		{
			question: "What should I bring?",
			answer: "Bring your laptop, overnight gear, a water bottle, and a photo ID. MLH will be providing a hardware lab."
		},
		{
			question: "What are the prizes?",
			answer: "We have a lot of great prizes ready for this year. Most of them will be announced closer to the event."
		},
		{
			question: "Are there any rules I should follow?",
			answer: "You can find the MLH code of conduct <a target='_blank' href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf'>here.</a>"
		},
		{
			question: "More Questions?",
			answer: "Feel free to email us with any questions at <a href='mailto:team@sbhacks.com'>team@sbhacks.com</a>."
		}
	];
%>

<div id="faq" class="main-div">
	<div class="empty-circle circle small fixed">
	  	<h1>FAQ</h1>
	</div>
	<div class = "faq-block">
		<% qa_blocks.forEach((qa_block) => { %>
			<div class="long-bubble collapsible">
				<img src="images/downTriangle.png" class="faqArrow downTriangle">
				<img src="images/upTriangle.png" class="faqArrow upTriangle">
				<h1><%- qa_block.question %></h1>
				<p class="answer"><%- qa_block.answer %></p>
			</div>
		<% }) %>
	</div>
	<img src="images/downTriangle.png" class="downTriangle bounce" id="scrollTriangle">
</div>

<script>
	var qaToggles = document.getElementsByClassName("collapsible");
	for (var i = 0; i < qaToggles.length; i++) {
		qaToggles[i].addEventListener("click", switchArrows);
	}

	function switchArrows(e) {
		var upTrig, downTrig = null;
		questionChilds = this.childNodes;
		for (var i = 0; i < questionChilds.length; i++) {
			// console.log(questionChilds[i].className);
			if (questionChilds[i].className == "faqArrow upTriangle") {
				upTrig = questionChilds[i];
				// console.log(upTrig);
			}
			else if (questionChilds[i].className == "faqArrow downTriangle") {
				downTrig = questionChilds[i];
				// console.log(downTrig);
			}
		}
		if (upTrig && downTrig) {
			// console.log("toggle");
			if (downTrig.style.display != "none") {
				downTrig.style.display = "none";
				upTrig.style.display = "initial"
			}
			else {
				downTrig.style.display = "initial";
				upTrig.style.display = "none";
			}
		}
	}
</script>


