#faq {

	h1 {
		font-size: 3em;
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			vertical-align: top;
			display: inline-block;
			width: 480px;
			height: 400px;
			background-color: $l-green;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
			padding: 20px;
			margin: 20px;

			div {
				height: 180px;
				width: 400px;
				padding: 0 40px;

				h2 {
					display: inline-block;
					width: 200px;
					color: $purple;
					text-align: right;
					vertical-align: middle;
					text-transform: uppercase;
				}

				img {
					display: inline-block;
					vertical-align: middle;
					width: 150px;
					padding: 0px 25px;
				}

				
			}
			

			p {
				display: table-cell;
				margin: 0;
				height: 200px;
				width: 400px;
				padding: 0 50px;

				vertical-align: middle;
				color: black;
			}	
		}

		@keyframes pop {
			50% {
				transform: scale(0.85);
			}

			100% {
				transform: scale(1);
			}
		}

		li:hover div  {
				img {
					animation-name: pop;
					animation-duration: 0.5s;
				}				
		}
	}
}

@media all and (max-width: 570px) {
	#faq ul li {
		width: 85%;
		height: auto;
		padding: 10px 0;

		div {
			height: auto;
			padding: 0;
			width: 100%;

			* {
				text-align: center;
			}

			h2 {
				text-align: center;
				width: 100%;
				display: block !important;
			}

			img {
				padding: 0;
			}
		}
	}
}