$l-blue: #33ccff;

@import url('https://fonts.googleapis.com/css?family=Bungee');

/* @import 'waves'; */
/* @import 'button'; */
@import 'responsive';

html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Bungee', cursive;
  overflow: hidden;
}

.logo {
  width: 25%;
  margin: 20px
}
h1 {
  font-size: 2em;
  color: #ecc702;
  margin: 0;
}

p {
  font-size: 1em;
  color: rgb(150,150,150);
}

a {
  color: #999;
  text-decoration: underline;
}
