@media only screen and (max-width: 860px) {
  button {
    font-size: 16px;
    margin-bottom: 1px;
  }
  h1 {
    font-size: 1.8em;
  }

}
@media only screen and (max-width: 760px) {
  body, html {
    overflow-y: visible;
  }
  p {
    font-size: 0.8em;
  }
}

@media all and (max-width: 584px) {
  .logo {
    font-size: 6em;
  }
}
@media all and (max-width: 560px) {
  body, html {
    overflow-y: visible;
  }
}

@media all and (max-width: 500px) {
  .logo {
    font-size: 5em;
  }
  #container {
    margin-top: 25px;
  }
}

@media all and (max-width: 450px) {
  .logo {
    font-size: 4em;
  }
}

@media all and (max-width: 400px) {
  .logo {
    font-size: 3.5em;
  }
  #date {
    font-size: 1.5em; 
  }
}

@media all and (max-width: 392px) {
  a {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 350px) {
  .logo {
    font-size: 3em;
  }
}
