@media only screen and (max-width: 860px) {
  button {
    font-size: 16px;
    margin-bottom: 1px;
  }
  h1 {
    font-size: 1.8em;
  }

}

@media all and (max-width: 660px) {
  .logo {
    font-size: 6em;
  }
}

@media all and (max-width: 530px) {
  .logo {
    font-size: 5em;
  }
  #date {
    font-size: 2em;
  }

  .btn {
    font-size: 1em;
    padding: 1em 1.75em;
  }

  #container > p {
    font-size: 1.2em;
  }
}

@media all and (max-width: 430px) {
  .logo {
    font-size: 4em;
  }

  #date {
    font-size: 1.5em;
  }

  .btn {
    font-size: 1em;
    padding: 1em 1.75em;
  }

  #container > p {
    font-size: 1em;
  }
}

@media all and (max-width: 412px) {
  #modal button {
    margin-top: 10px;
  }
}

@media all and (max-width: 350px) {
  .logo {
    font-size: 3.5em;
  }

  #date {
    font-size: 1.5em;
  }

  .btn {
    font-size: 1em;
    padding: 0.75em 1.5em;
  }

  #container > p {
    font-size: 1em;
  }
}
