<%
	let challenge_blocks = [
		{
			title: "Best Challenge",
			description: "Make something good."
		},
		{
			title: "Best Challenge",
			description: "Make something good."
		},
		{
			title: "Best Challenge",
			description: "Make something good."
		},
		{
			title: "Best Challenge",
			description: "Make something good."
		}
	];
%>

<div class="row" id="Challenges">
	<h1 class="title">< Challenges /></h1>
	<% challenge_blocks.forEach((challenge_block) => { %>
		<div class="challenge-item">
			<h1><%- challenge_block.title %></h1>
			<p><%- challenge_block.description %></p>
		</div>
	<% }) %>
</div>
