<div id = "landing">
	<!-- Top Navigation Menu -->
	<div class="mobNavBar">
	  <!-- Navigation links (hidden by default) -->
	  <div id="navLinks">
	  	<a href = "#landing">SB HACKS VI: LIVE</a>
	  	<a href = "#intro">SCHEDULE</a>
	  	<a href = "#faq">BUSES</a>
	  	<a href = "#team">PRIZES</a>
	  	<a href = "#sponsor-container">EVENT LOGISTICS</a>
	  	<a href = "">DEVPOST</a>
	  </div>
	  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
	  <a href="javascript:void(0);" class="icon">
	    <i class="fa fa-bars" id="burgerIcon"></i>
	  </a>
	</div>

		<div id = "navBar">
			<ul>
	  			<li><a href = "">DEVPOST</a></li>
				<li><a href = "#event">EVENT LOGISTICS</a></li>
				<li><a href = "#prizes">PRIZES</a></li>
				<li><a href = "#buses">BUSES</a></li>
				<li><a href = "#schedule">SCHEDULE</a></li>
				<li><a href = "https://sbhacks.com/live">SB HACKS VI: LIVE</a></li>
			</ul>
		</div>
        
        <div id = "left">
			<img src = "webAssets/Asset 1.svg" id = "leftBiome">
            <img src = "webAssets/Asset 29.svg" id = "darkKelp">
            <img src = "webAssets/Asset 32.svg" id = "leftLand">
            <img src = "webAssets/Asset 26.svg" id = "greenKelp">
            <img src = "webAssets/Asset 27.svg" id = "blueKelp">
		</div>

		<div id = "right">
			<img src = "webAssets/Asset 2.svg" id = "rightBiome">
		</div>
        
        <!-- <img src = "webAssets/Asset 42.svg" id = "otter">
 -->
        
        <div id = "centerInfo">
            <img src = "webAssets/Asset 22.svg" id = "centerLogo">
            <div class = "info-container">
	            <h2 class = "info-item" id = "info"> January 10-12, 2020 | Corwin Pavilion</h2>
	        </div>
	       	<p class = "blurb">Welcome to SB Hacks Live Page, where you can obtain the newest information about this event! Don't forget to join our slack at <a href="http://www.sbhacks.com/slack">sbhacks.com/slack</a> for help and other activities.</p>
        </div>
	</div>