<div class="row" id="logistics">
	<h1>Logistics</h1>
	<!-- <a href="https://docs.google.com/spreadsheets/d/13QUCwYXTTJhBGauUz9XOJ5-B4GJQ5b9qxoqSSKNQQWo/edit?usp=sharing" target="_blank">Click Here for Workshops!</a> -->
	<div class="log-block">
		<h2>Event Map</h2>
		<a href="/map.png" target="_blank">
			<img class = "image" src="/map.png" alt="Event Map">
		</a>
	</div>
	<div class="log-block">
		<h2>Wifi Instructions</h2>
		<div class="wifi">
			<ol class="column">
				<li>Connect to the network name "UCSB Wireless Web".</li>
				<li>Select "Guest Registration" under the credential login.</li>
				<li>Once you register, you'll receive an SMS/text message with a username and password, which is enabled for a seven-day connection.</li>
			</ol>
			<img id="wifi-img" class="image column" src="images/wifi.png">
		</div>
	</div>
</div>