	<%
	let prize_blocks = [
		{
			title: "Grand Prize",
			desc: "",
			prize: "iPads (7th gen)"
		},
		{
			title: "Runner-Up Prize",
			desc: "",
			prize: "Sonos Play:1 Speakers"
		},
		{
			title: "Best Entertainment Hack",
			desc: "",
			prize: "Oculus Gos"
		},
		{
			title: "Hacker Raffle",
			desc: "Accumulate stickers by talking to sponsors, attending workshops, and activities! Those who have enough stickers will be able to participate in the raffle to win a prize. The more stickers you get, the higher change you have of winning!",
			prize: "Bose Noise Cancelling Wireless Headphones"
		},
		{
			title: "Meme Challenge",
			desc: "Enter your favorite meme into the meme challenge on slack in #meme-challenge! Best two memes voted on by organizers takes the crown.",
			prize: "Google Cardboard - Google VR"
		},
		{
			title: "Invoca: Best Web Application",
			desc: "",
			prize: "$50 Amazon gift card and an interview with Invoca for a summer internship"
		},
		{
			title: "Amazon: Best Alexa Skill",
			desc: "",
			prize: "Amazon Echo Show 5s + a tour of Amazon's new Santa Barbara State Street office"
		},
		{
			title: "Google Cloud Platform: Best Use of GCP",
			desc: "Use any Google Cloud product in your project!",
			prize: "Prize: Google Home Mini, Cloud Patagonia Backpack, Cloud Pillow, Acrylic Trophy, and Cloud Water Bottle"
		},
		{
			title: "Firebase: Best Use of Firebase",
			desc: "Firebase is a suite of tools that allow you to build your applications bigger, better, faster, stronger and quicker. When you're hacking, you don't want to be worried about spinning up servers and choosing a database technology; just use Firebase.",
			prize: "Stadia Premiere Edition Bundles for each member"
		}
	];
%>

<div class="row" id="prizes">
	<h1>Prizes</h1>

	<div class = "prize-blocks">
		<% prize_blocks.forEach((prize_block) => { %>
			<div class = "prize-block long-bubble collapsible">
				<img src="images/downTriangle.png" class="faqArrow downTriangle">
				<img src="images/upTriangle.png" class="faqArrow upTriangle">
				<h1><%- prize_block.title %></h1>
				<div class="desc-div">
					<p class="desc"><%- prize_block.desc %></p>
					<p class="prize">Prize: <%- prize_block.prize %></p>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<script>
	var qaToggles = document.getElementsByClassName("collapsible");
	for (var i = 0; i < qaToggles.length; i++) {
		qaToggles[i].addEventListener("click", switchArrows);
	}

	function switchArrows(e) {
		var upTrig, downTrig = null;
		questionChilds = this.childNodes;
		for (var i = 0; i < questionChilds.length; i++) {
			// console.log(questionChilds[i].className);
			if (questionChilds[i].className == "faqArrow upTriangle") {
				upTrig = questionChilds[i];
				// console.log(upTrig);
			}
			else if (questionChilds[i].className == "faqArrow downTriangle") {
				downTrig = questionChilds[i];
				// console.log(downTrig);
			}
		}
		if (upTrig && downTrig) {
			// console.log("toggle");
			if (downTrig.style.display != "none") {
				downTrig.style.display = "none";
				upTrig.style.display = "initial"
			}
			else {
				downTrig.style.display = "initial";
				upTrig.style.display = "none";
			}
		}
	}
</script>