<div class="row" id="schedule">
	<h1>Schedule</h1>
	<!-- <a href="https://docs.google.com/spreadsheets/d/13QUCwYXTTJhBGauUz9XOJ5-B4GJQ5b9qxoqSSKNQQWo/edit?usp=sharing" target="_blank">Click Here for Workshops!</a> -->
	<a href="/images/schedule.jpg" target="_blank">
		<img class = "image" src="/images/schedule.jpg" alt="Schedule">
	</a>
</div>