<div class="row" id="Schedule">
	<h1 class="title">< Schedule /></h1>
	<a href="https://docs.google.com/spreadsheets/d/13QUCwYXTTJhBGauUz9XOJ5-B4GJQ5b9qxoqSSKNQQWo/edit?usp=sharing" target="_blank">Click Here for Workshops!</a>
	<a href="/images/schedule.jpg" target="_blank">
		<img src="/images/schedule.jpg" alt="Schedule">
	</a>
</div>