<%- include ./partials/header.ejs %>

  <form id="login-form" action="/signup" method="POST" enctype="multipart/form-data" onsubmit="return handleSubmit(this)">
  <!--<form id="login-form" action="/signup" method="POST" enctype="multipart/form-data">-->
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" class="form-control" id="first_name-input" placeholder="What's your first name?" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" class="form-control" id="last_name-input" placeholder="What's your last name?" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email-input" aria-describedby="emailDescr" placeholder="Enter email" required>
      <small id="emailDescr" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password" required>
    </div>

    <div class="form-group">
      <label for="school">School</label>
      <!-- Schools input is disabled temporarily, because I will need to integrate adding data entries for schools -->
      <input type="text" name="school" class="form-control" id="school-input" value="UC Santa Barbara" disabled>
    </div>

    <div class="form-group">
      <label for="level_of_study">Level of Study</label>
      <select class="form-control" id="level_of_study-input" name="level_of_study" placeholder="What is your level of study?" required>
        <option value='High School'>High School</option>
        <option value='Undergraduate'>Undergraduate</option>
        <option value='Graduate'>Graduate</option>
      </select>
    </div>

    <div class="form-group">
      <label for="year">Graduation Year</label>
      <select class="form-control" id="year-input" name="graduation_year" placeholder="When do you graduate?" required>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
      </select>
    </div>

    <div class="form-group">
      <label for="transportation">Transportation</label>
      <select class="form-control" id="transportation-input" name="transportation" required>
        <option value='1'>I can provide my own means of transportation</option>
        <option value='2'>I would prefer to be provided bussing in California</option>
        <option value='3'>I require travel reimbursement (This may or may not be something we can provide)</option>
      </select>
    </div>

    <div class="form-group">
      <label for="github">Github</label>
      <input type="text" name="github" class="form-control" id="github-input" placeholder="https://github.com/username">
    </div>

    <div class="form-group">
      <label for="linkedin">LinkedIn</label>
      <input type="text" name="linkedin" class="form-control" id="linkedin-input" placeholder="https://linkedin.com/in/username">
    </div>

    <div class="form-group">
      <label for="major">Major</label>
      <input type="text" name="major" class="form-control" id="major-input" placeholder="e.g. Computer Science">
    </div>

    <div class="form-group">
      <label for="phone_number">Phone Number</label>
      <input type="text" name="phone_number" class="form-control" id="phone_number-input" placeholder="Don't worry we won't call you unless it's an emergency">
    </div>

    <div class="form-group">
      <label for="shirt_size">Shirt Size</label>
      <select class="form-control" id="shirt_size-input" name="shirt_size" required>
        <option value='S'>Small</option>
        <option value='M'>Medium</option>
        <option value='L'>Large</option>
        <option value='XL'>X-Large</option>
      </select>
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control" id="gender-input" name="gender" required>
        <option value='Male'>Male</option>
        <option value='Female'>Female</option>
        <option value='Other'>Other</option>
      </select>
    </div>

    <label class="btn btn-default btn-file">
        <input id="resume-input" type="file" name="resume" hidden>
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<%- include ./partials/footer-application.ejs %>
