<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110137783-1"></script>
  <script>
    if(window.location.hostname !== "localhost") {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110137783-1');
    }
  </script>
  <title>SB Hacks IV</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"
  />
  <link rel="stylesheet" href="/css/registrant.css" />
</head>
<body>
  <div id="root"></div>
</body>
<script type="text/javascript">
  <% if(locals.preloadedState) { %>
    window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
  <% } %>
</script>
<script type="text/javascript" src="/js/bundle.js"></script>
</html>
