<html prefix="og: http://ogp.me/ns#">
	<!-- Thanks for checking us out! -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Metas for OpenGraph protocol. Mainly about how to share this page via social networks. http://ogp.me/ -->
		<meta property="og:title" content="SB Hacks IV">
		<meta property="og:type" content="36 Hour Hackathon">
		<meta property="og:url" content="http://sbhacks.com">
		<meta property="og:image" content="http://sbhacks.com/images/logo.png">
		<!-- Metas for Twitter share. -->
		<meta name="twitter:url" content="http://sbhacks.com">
		<meta name="twitter:title" content="SB Hacks IV">
		<!--  For launch screen.  -->
  		<link rel="apple-touch-startup-image" href="/images/logo.png">
  		<meta name="apple-mobile-web-app-title" content="SB Hacks IV">
  		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="/css/landingpage.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="robots" content="index, follow,">
		<link rel="canonical" href="http://sbhacks.com">
		<title>SB Hacks IV</title>
	</head>
<body>
	<div id="container">
		<h1 class="logo">SB Hacks IV</h1>

		<h1 id="date">January 19-21, 2018</h1>

		<div class="row">
			<!-- Credit to Giana from codepen for button styling https://codepen.io/giana/ -->
			<a href="http://sbhacksiii.herokuapp.com">
				<button class="btn draw-border">Past Site</button>
			</a>

			<button class="btn draw-border trigger">Signup</button>
		</div>
		
		<div id="modal-wrapper">
			<div id="modal">
				<h3>Applications are not yet open</h3>
				<p>Feel free to leave your email here and we will notify you as soon as it is released</p>
				<div id="subscribe_container">
					<form action="/" id="subscribe">
						<label for="email">Email: </label>
						<input type="email" name="email" id="email-input" />
						<button type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
		
		<p>Interested in being a sponsor? <br /> Shoot us an email at <a href="mailto:ucsbhacks@gmail.com">ucsbhacks@gmail.com</a></p>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/modal.js"></script>
</html>
