<!DOCTYPE html>
<html>
<head>
  <title>SB Hacks IV</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"
  />
  <link rel="stylesheet" href="/css/registrant.css" />
</head>
<body>
  <div id="root"></div>
</body>
<script type="text/javascript">
  <% if(locals.preloadedState) { %>
    window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
  <% } %>
</script>
<script type="text/javascript" src="/js/bundle.js"></script>
</html>
