<!DOCTYPE html>
<html>
<head>
  <title>React SPA Part - In Progress</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
</head>
<body>
  <div id="root"></div>
</body>
<script type="text/javascript">
	window.__IS_AUTHENTICATED__ = <%- authenticated %>;
</script>
<script type="text/javascript" src="/js/bundle.js"></script>
</html>
