<!DOCTYPE html>
<html>
<head>
  <title>React SPA Part - In Progress</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
  <style>
  	a:hover {
  		cursor: pointer;
  	}
    #root label {
      color: #98DFAF;
    }
    #root {
      min-height: 100%;
    }
    #root .loading.form:before {
      background-color: rgba(65, 66, 136, 0.8);
    }

  </style>
</head>
<body>
  <div id="root" style="padding: 5%; background-color: #414288; color: #98DFAF;"></div>
</body>
<script type="text/javascript">
	<% if(locals.preloadedState) { %>
		window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
	<% } %>
</script>
<script type="text/javascript" src="/js/bundle.js"></script>
</html>
