<html prefix="og: http://ogp.me/ns#">
	<!-- Thanks for checking us out! -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!-- Metas for OpenGraph protocol. Mainly about how to share this page via social networks. http://ogp.me/ -->
		<meta property="og:title" content="SB Hacks IV">
		<meta property="og:type" content="36 Hour Hackathon">
		<meta property="og:url" content="http://sbhacks.com">
		<meta property="og:image" content="http://sbhacks.com/images/logo.png">
		<!-- Metas for Twitter share. -->
		<meta name="twitter:url" content="http://sbhacks.com">
		<meta name="twitter:title" content="SB Hacks IV">
		<!--  For launch screen.  -->
  		<link rel="apple-touch-startup-image" href="/images/logo.png">
  		<meta name="apple-mobile-web-app-title" content="SB Hacks IV">
  		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="/css/landingpage.css" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="robots" content="index, follow,">
		<link rel="canonical" href="http://sbhacks.com">
		<title>SB Hacks IV</title>
	</head>
<body>
	<div id="container">
		<div id="containertext">
			<h1 class="logo">SB Hacks</h1>
			<h2 id="subtext">#MAKEWAVES</h2>

			<p id="starttext">
				UCSB's 3rd annual hackathon is a 36 hour event fostering innovation and creativity through learning by doing, with some wicked prizes up for grabs. While taking breaks from building your projects, you'll enjoy free meals, attend fun mini-events, interact with sponsors, and make some friends along the way. Hope to see you there!
			</p>
		</div>
		
				

		

		<div id="road"></div>
		
		<div class="sidewalkcontainer">
			<div id="sidewalklip"></div>
			<div id="sidewalk"></div>

			<% for(var i=1; i<=6; i++) {%>
			   <div class="sidewalktick sidewalktick<%= i %>"></div>
			   <div class="sidewalktick sidewalktickupper sidewalktick<%= i %>"></div>
			<% } %>
		</div>
		
		<span id="background">
			<div id="grass"></div>

			<% for(var i=1; i<=6; i++) {%>
			   <img src="images/tree.png" class="tree tree<%= i %>"></img>
			<% } %>

			<% for(var i=0; i<=9; i++) {%>
			   <span class="roadtick roadtick<%= i %>"></span>
			<% } %>

			<img src="images/woodstocks.png" id="woodstocks"></img>
			<p id="opensign">Open Now</p>

			<div id="street">
				<div id="pole"></div>
				<div id="sign">Embarcadero<br/>del<br/>Norte</div>
			</div>
		</span>
		
		<div class="car">
			<div class="car-body">
				<div class="car-top-back">
					<div class="back-curve"></div>
				</div>
				<div class="car-gate"></div>
				<div class="car-top-front">
					<div class="wind-sheild"></div>
				</div>
				<div class="bonet-front"></div>
				<div class="stepney"></div>
			</div>
			<div class="boundary-tyre-cover">
				<div class="boundary-tyre-cover-back-bottom"></div>
				<div class="boundary-tyre-cover-inner"></div>	
			</div>
			<div class="tyre-cover-front">
				<div class="boundary-tyre-cover-inner-front"></div>
			</div>
			<div class="base-axcel">
				
			</div>
			<div class="front-bumper"></div>
			<div class="tyre">		
				<div class="gap"></div>	
			</div>
			<div class="tyre front">
				<div class="gap"></div>	
			</div>
			<div class="car-shadow"></div>
		</div>
	</div>

	<div id="faq">
		<h1>FAQ</h1>
		<ul>
			<li>
				<div>
					<h2>What's a hackathon</h2><img src="/images/bike.png" />	
				</div>
				<p>Hackathons are often described as a hybrid between a career fair and a science fair. A creative community of programmers - from novices to experienced - come together for 36 hours to make amazing projects. The projects are then judged by tech professionals from the industry and from academia.</p>
			</li>
			<li>
				<div>
					<h2>How much does it cost to attend</h2><img src="/images/bike.png" />
				</div>
				<p>Admission to the event, food, and swag will all be FREE. We'll be providing busses to select schools in California.</p>
			</li>
			<li>
				<div>
					<h2>Who can attend</h2><img src="/images/bike.png" />
				</div>
				<p>SB Hacks is accepting college students, graduate / PhD students, and high school students who are 18 or older.</p>
			</li>
			<li>
				<div>
					<h2>Can I have a team</h2><img src="/images/bike.png" />
				</div>
				<p>You can compete with up to 4 teammates. If you don't have a team, don't worry about it! We will match you up with compatible teammates at the event.</p>
			</li>
			<li>
				<div>
					<h2>What can I win</h2><img src="/images/bike.png" />
				</div>
				<p>Our prizes and their accompanying page is in the works and will be up shortly before the event!</p>
			</li>
			<li>
				<div>
					<h2>What should I bring</h2><img src="/images/bike.png" />
				</div>	
				<p>Bring your laptop, overnight gear, a water bottle, and a photo ID. MLH will be providing a hardware lab.</p>
			</li>
			<li>
				<div>
					<h2>When will acceptances come out</h2><img src="/images/bike.png" />
				</div>
				<p>Acceptances went out in early January, if you have questions about your registration email us.</p>
			</li>
			<li>
				<div>
					<h2>More Questions</h2><img src="/images/bike.png" />
				</div>
				<p>Feel free to email us with any questions at ucsbhacks@gmail.com</p>
			</li>
		</ul>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/modal.js"></script>
</html>
