<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/livepage.css" />
	<link href="https://fonts.googleapis.com/css?family=Lekton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>SB Hacks V: Live</title>
</head>
<body>
	<nav id="navbar">
		<ul id="menu">
			<li><a href="https://sbhacks.com" style="color:#98DFAF;">SB Hacks V</a></li>
			<li><a href="#Updates">Updates/Important Info</a></li>
			<li><a href="#Schedule">Schedule</a></li>
			<li><a href="#Map">Map</a></li>
			<li><a href="#Challenges">Challenges</a></li>
		</ul>
	</nav>
	<div id="content-container">
		<div class="row">
			<h1 class="title" >SB Hacks V: Live!</h1>
			<h3> Welcome to SB Hacks Live Page, where you can obtain the newest information about this event!</h3>
			<h3>Please log into our slack channel for help and other activities.</h3>
			<h2 id="countdown"></h2>
		</div>
			<!--
			<div id="project" class="row">
				<p class="stitle">Project Due On Sunday 10AM</p>
				<p id="demo"></p>
				<a href="https://sbhacksiii.devpost.com/" target="_blank"><img class="icon" src="./images/devpost.svg"> Submit Now!</a>
				<br>
				<br>
			</div>
		-->	
		<%- include("partials/live/updates") %>
		<%- include("partials/live/schedule") %>
		<%- include("partials/live/map") %>
		<%- include("partials/live/challenges") %>
	</div>

</body>
<script src="/js/live/clock.js"></script>
</html>



