<%- include ./partials/header.ejs %>

  <form id="login-form" action="/auth/signup" method="POST" enctype="multipart/form-data" onsubmit="return handleSubmit(this)">
  <!--<form id="login-form" action="/signup" method="POST" enctype="multipart/form-data">-->
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" class="form-control" id="first_name-input" placeholder="What's your first name?" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" class="form-control" id="last_name-input" placeholder="What's your last name?" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email-input" aria-describedby="emailDescr" placeholder="Enter email" required>
      <small id="emailDescr" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<%- include ./partials/footer.ejs %>
