@import url("https://fonts.googleapis.com/css?family=Bungee");
/* @import 'waves'; */
/* @import 'button'; */
@media only screen and (max-height: 560px) {
  body, html {
    overflow-y: visible; }
  #waves {
    position: relative; } }

@media only screen and (max-width: 860px) {
  .logo {
    width: 40%; }
  button {
    font-size: 16px; }
  h1 {
    font-size: 1.8em; } }

@media only screen and (max-width: 760px) {
  body, html {
    overflow-y: visible; }
  #waves {
    position: relative; }
  p {
    font-size: 0.8em; } }

html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Bungee', cursive;
  overflow: hidden; }

.logo {
  width: 25%;
  margin: 20px; }

h1 {
  font-size: 2em;
  color: #ecc702;
  margin: 0; }

p {
  font-size: 1em;
  color: #969696; }

a {
  color: #999;
  text-decoration: underline; }
