a:hover {
	cursor: pointer;
}
#root label {
	color: white;
}

body {
	background-color: #5c70ac;
	color: rgb(240, 240, 240);
	padding: 0 10%;
	height: 100%;
}

a {
	color: white;
	text-decoration: underline;
	&:hover {
		opacity: 0.5;
		color: rgb(245, 245, 245);
		text-decoration: underline;
	}
}

#apply-link {
	color: white;
	text-decoration: underline;
	&:hover {
		color: white;
		opacity: 0.6;
	}
}

#root {
	padding-bottom: 10%;
}

#registration {
	padding: 30px 0;
}

#root .loading.form:before {
	background-color: rgba(92, 112, 172, 0.8);
}

.ui.button {
	margin-bottom: 10px;
}

.ui.checkbox {
	display: block;
	margin-bottom: 15px;
}

.ui.label {
	text-decoration: none;
}

#header {
	height: 200px;
	padding-top: 20px;
	text-align: center;
	position: relative;
	#logo {
		display: inline-block;
		height: 100%;
		img {
			height: 100%;
		}
	}
	#logout-btn {
		position: absolute;
		right: 0;
		bottom: 0;
		button {
			margin: 0;
		}
	}
}

h1 {
	font-size: 3vw;
	color: white;
	strong {
		border-bottom: 4px solid white;
	}
}

.body-text {
	font-size: 1.4em;
}

.body {
	margin: 30px 0;
}

@import 'fileupload';
@import 'responsive';
