$bgColor: #0d2e59;

a:hover {
	cursor: pointer;
}
#root label {
	color: white;
}

body {
	background-color: $bgColor;
	font-family: 'Didact Gothic', sans-serif;
	color: white;
	padding: 0 10%;
	height: 100%;
}


a {
	text-decoration: underline;
	color: #6da5d0;
	&:hover {
		opacity: 0.5;
		color: rgb(245, 245, 245);
		text-decoration: underline;
	}
}


#apply-link {
	text-decoration: none;
	color: white;
	&:hover {
		opacity: 1;
	}
}


#root {
	padding-bottom: 10%;
}

#registration {
	padding: 30px 0;
}

#root .loading.form:before {
	background-color: rgba(25, 25, 25, 0.8);
}

.ui.button {
	margin-bottom: 10px;
}

.ui.checkbox {
	display: block;
	margin-bottom: 15px;
}

.ui.label {
	text-decoration: none;
}

.ui
{
	.message.status_msg
	{
		background-color: #f5f5f5;
		color: #191919;
		font-size: 1.8em;
		padding: 10px;
		.header
		{
			font-family: 'Didact Gothic', sans-serif;
	    	font-weight: 200;
		}	
	}
}

.ui[class*="center aligned"].container {
    margin: 10px;
}


#header {
	height: 200px;
	padding-top: 20px;
	text-align: center;
	position: relative;
	#logo {
		display: inline-block;
		height: 100%;
		img {
			height: 100%;
		}
	}
	#logout-btn {
		position: absolute;
		right: 0;
		bottom: 0;
		button {
			margin: 0;
		}
	}
}

h1 {
	font-size: 3vw;
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 200;
	strong {
		border-bottom: 4px solid white;
	}
}
h2
{
	font-family: 'Didact Gothic', sans-serif;
	margin: 10px;
	font-weight: 50;
}

.body-text {
	font-size: 1.2em;
}

.body {
	margin: 30px 0;
}

.hello
{
	color: white;
}


.dash
{
	border: 1px #7b7b7b solid;
    padding: 25px;
}

/*
.status
{
	text-align: center;
}
*/

@import 'fileupload';
@import 'responsive';
