#faq {
	background-color: #c0c187;
}

.faq-item {
	vertical-align: top;
	display: inline-block;
	width: 38%;
	padding: 2%;
	text-align: left;
	margin: 2em 2%;
	h1, p {
		margin: 0;
	}

	h1 {
		font-size: 1.6em;
		margin-bottom: 0.3em;
	}
	p {
		font-size: 0.9em;
	}
}