#faq {
	padding: 200px 25px;
}

.faq-item {
	vertical-align: top;
	display: inline-block;
	width: 38%;
	padding: 2%;
	text-align: left;
	padding: 2em 2%;
	height: 7em;
    border: 1px white dashed;
    margin: 10px;
	h1, p {
		margin: 0;
	}

	h1 {
		font-size: 1.5em;
		margin-bottom: 0.3em;
	}
	p {
		font-size: 0.9em;
	}
}