$bgColor: #0d2e59;

#faq {
	/*width: 100vw;
	height: 100vh;*/
	/*padding: 200px 25px;*/
}

.long-bubble {
  	background: url("../webAssets/Asset 35.svg") no-repeat;
  	background-color: $bgColor;
  	background-color: transparent;
  	vertical-align: top;
	display: inline-table;
	width: 28%;
	padding: 2%;
	text-align: left;
	padding: 1em 2%;
	margin: 5px 35px;
	z-index: 90;
	animation-play-state: paused;
	h1 {
		margin: 0;
		font-size: 1em;
	}
}

.long-bubble:hover {
	color: $l-blue;
	animation-play-state: running;
	animation: bounce 2s infinite;
	animation-timing-function: linear;
}

.collapsible {
  cursor: pointer;
  &:hover {
  }
}

.upTriangle {
	display: none;
}

.faq-block {
/*	margin-top: 140px;
*/	position: relative;
	z-index: 100;
	bottom: 41vw;
	.faqArrow {
		width: 2.5vw;
	    float: right;
	    position: relative;
	    top: .5vw;
	    right: 0vw;
	    opacity: .75;
	}
}

.answer {
  max-height: 0;
  display: block;
  margin-top: 25px;
  font-size: 1.2vw;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

#scrollTriangle {
	margin: auto;
	width: 10vw;
	position: relative;
	bottom: 81vw;
	display: none;
}