$l-blue: #33ccff;
$d-green: #5FB49C;
$l-green: #98DFAF;
$gray: #bbbbbb;

@import url('https://rsms.me/interface/interface.css');

@import 'button';
@import 'sponsors';
@import 'faq';

html, body {
  margin: 0;
  text-align: center;
  font-family: Interface, sans-serif;
  font-weight: 400;
}

body {
  display: table;
}

#initialpage {
  background: #71c8f1;
  background: linear-gradient(#673695, #71c8f1);
  padding-top: 50px;
  padding-bottom: 150px;
  width: 100%;
}

#logo {
  img {
    width: 20%;
  }
}

#date {
  font-size: 2.5em;
}

.row {
  margin: 35px 0 60px 0;
}

h1 {
  font-size: 2em;
  color: white;
}

h1.header {
  font-size: 5em;
}

p {
  font-size: 1.25em;
  color: white;
}

a {
  display: inline-block;
  text-decoration: underline;
  &:hover {
    // color: $d-green;
  }
}

@import 'responsive';