$l-blue: #33ccff;
$d-green: #5FB49C;
$l-green: #98DFAF;
$gray: #bbbbbb;
$secondary-yellow: #dcdda2;
$primary-yellow: #ffcf35;

@import url('https://rsms.me/interface/interface.css');

@import 'initialpage';
@import 'button';
@import 'sponsors';
@import 'faq';
@import 'intro';
@import 'social';

html, body {
  margin: 0;
  background: linear-gradient(#673695, #549cbe);
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 330px;
}

h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

h1.header {
  margin: 0;
  font-size: 5vw;
}

a {
  color: white;
  display: inline-block;
  text-decoration: underline;
  &:hover {
    opacity: 0.5;
  }
}

@import 'responsive';