$l-blue: #33ccff;
$d-green: #5FB49C;
$l-green: #98DFAF;
$gray: #bbbbbb;
$secondary-yellow: #dcdda2;
$primary-yellow: #ffcf35;

@import 'initialpage';
@import 'button';
@import 'sponsors';
@import 'faq';
@import 'intro';
@import 'social';

html, body {
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  min-width: 250px;
  font-size: 1.15vw;
}

h1 {
  font-family: 'Lekton', sans-serif;
  font-size: 2vw;
}

h1.header {
  margin: 0;
  font-size: 5vw;
}

a {
  display: inline-block;
}

#content-container { 
  background: #549cbe;
  background: linear-gradient(#333333, #737373);
  background: -webkit-linear-gradient(#333333, #737373);
  background: -o-linear-gradient(#333333, #737373);
  background: -moz-linear-gradient(#333333, #737373);
  padding-top: 10%;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      opacity: 0.5;
    }
  }
}

@import 'responsive';