$l-blue: #33ccff;
$d-green: #5FB49C;
$l-green: #98DFAF;
$gray: #bbbbbb;
$secondary-yellow: #dcdda2;
$primary-yellow: #ffcf35;

@import url('https://rsms.me/interface/interface.css');

@import 'initialpage';
@import 'button';
@import 'sponsors';
@import 'faq';
@import 'intro';

html, body {
  margin: 0;
  text-align: center;
  font-family: Interface, sans-serif;
  font-weight: 400;
  min-width: 430px;
  color: white;
}

.grass-divider {
  width: 100%;
  margin-top: -25px;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

h1.header {
  margin: 0;
  font-size: 5vw;
}

a {
  color: white;
  display: inline-block;
  text-decoration: underline;
  &:hover {
    color: #e1e1e1;
  }
}

@import 'responsive';