#intro {
	background-color: #e8e8e8;
	color: black;
	text-align: left;
	padding: 0 5%;
	padding-top: 30px;
	h1 {
		margin: 0;
		font-size: 3.5em;
	}

	#values {
		margin-bottom: 30px;
		.value {
			display: inline-block;
			width: 15%;
			margin-right: 25%;
			text-align: center;
			img {
				width: 100%;
			}
			h4 {
				font-family: bungee, 'cursive';
				text-transform: uppercase;
				margin: 0;
			}
		}
		.no-margin {
			margin: 0;
		}
	}

	#summary {
		p {
			line-height: 200%;
			font-weight: 500;
		}
	}

	#memory {
		text-align: center;
		img {
			width: 50%;
			float: right;
		}
	}

	#left, #right {
		vertical-align: top;
		display: inline-block;
	}

	#left {
		width: 33%;
		img {
			display: block;
			width: 30%;
			transform: rotate(7deg);
		}
		img:nth-child(3) {
			transform: rotate(-7deg);
		}
	}

	#right {
		width: 66%;
	}
}