#intro {
	text-align: left;
	h1 {
		font-size: 3.5vw;
	}

	#values {
		margin-bottom: 30px;
		.value {
			display: inline-block;
			width: 20%;
			margin-right: 15%;
			text-align: center;
			img {
				width: 100%;
			}
			h4 {
				color: black;
				font-family: bungee, 'cursive';
				text-transform: uppercase;
				margin: 5px 0;
			}
			&.no-margin {
				margin: 0;
			}
		}
	}

	#summary {
		p {
			line-height: 200%;
			font-weight: 500;
		}
	}

	#memory {
		text-align: center;
		img {
			width: 100%;
		}
	}

	#left, #right {
		vertical-align: top;
		display: inline-block;
	}

	#left {
		width: 50%;
		margin: 5%;
	}

	#right {
		width: 40%;
	}
}