#intro {
	text-align: left;
	h1 {
		font-size: 3.5vw;
	}

	#values {
		margin-bottom: 30px;
		.value {
			display: inline-block;
			width: 20%;
			margin-right: 15%;
			text-align: center;
			img {
				width: 100%;
			}
			h4 {
				color: white;
				font-family: 'Ubuntu Mono', monospace;
				text-transform: uppercase;
				margin: 5px 0;
			}
			&.no-margin {
				margin: 0;
			}
		}
	}

	.video
	{
		border: 1px white dashed;
		padding: 15px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	#summary {
		p {
			line-height: 200%;
			font-weight: 500;
		}
	}

	#memory {
		text-align: center;
		img {
			width: 100%;
		}
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
	}

	#left, #right {
		vertical-align: middle;
		display: inline-block;
	}

	#left {
		width: 40%;
		margin: 5%;
	}

	#right {
		width: 45%;
	}
}