@media only screen and (max-width: 860px) {
  #sponsor-container {
    padding: 0 5%;
    #wreaths {
      img {
        width: 25%;
      }
      margin-top: -30px;
    }
  }
  #intro {
    #left {
      width: 90%;
      margin: 0 5%;
    }
    #right {
      width: 100%;
      #memory {
        img  {
          width: 60%;
          float: right;
        }
      }
    }

    h1 {
      font-size: 2.5em;
    }
  }
  #initialpage-bg-color {
    #initialpage {
      #initialpage-content {
        #logo {
          #logo-img {
            width: 30%;
          }
          #star-swirl {
            width: 40%;
            left: 30%;
          }
        }
      }
    }
  }
  button {
    font-size: 16px;
    margin-bottom: 1px;
  }
  h1 {
    font-size: 1.6em;
  }

}

@media all and (max-width: 660px) {
  #intro {
    h4 {
      font-size: 0.7em;
    }
  }
  h1.header {
      font-size: 3.5em;
  }
  .grass-divider {
    margin-top: -20px;
  }

  #faq {
    padding: 25px;
    .faq-item {
      width: 100%;
      padding: 2em 0;
      display: block;
      h1 {
        font-size: 1.2em;
      }
      p {
        font-size: 0.9em;
      }
    }
  }

  #sponsor-container {
    padding: 0;
    #wreaths {
      img {
        width: 30%;
      }
      margin-top: -20px;
    }
    p {
      font-size: 1em;
    }
    #gold-sponsor-container {
      .sponsor {
        display: block;
        width: 60%;
        padding: 0 20%;
        margin: 10px 0;
      }
    }
    #silver-sponsor-container {
      .sponsor {
        width: 45%;
        margin: 2%;
      }
    }
    #bronze-sponsor-container {
      .sponsor {
        width: 30%;
        margin: 1.5%;
      }
    }
  }
  #initialpage-bg-color {
    #initialpage {
      #initialpage-content {
        #logo {
          #logo-img {
            width: 40%;
          }
          #star-swirl {
            width: 50%;
            left: 25%;
          }
        }
        #date {
          font-size: 2em;
        }
      }
    }
  }
}

@media all and (max-width: 530px) {
  #initialpage-bg-color {
    #initialpage {
      #initialpage-content {
        #logo {
          #logo-img {
            width: 50%;
          }
          #star-swirl {
            width: 60%;
            left: 20%;
          }
        }
        #date {
          font-size: 2em;
        }
      }
    }
  }
  #intro {
    h1 {
      font-size: 2em;
    }
    h4 {
      font-size: 0.6em;
    }
  }
  .btn {
    font-size: 1em;
    padding: 1em 1.75em;
  }

  #intro {
    #values {
      .value {
        width: 20%;
        margin-right: 15%;
      }
    }
  }
}

@media all and (max-width: 430px) {
  .grass-divider {
    margin-top: -15px;
  }
  #initialpage-bg-color {
    #initialpage {
      #initialpage-content {
        #logo {
          #logo-img {
            width: 50%;
          }
        }
        #date {
          font-size: 1.7em;
        }
      }
    }
  }
  .btn {
    font-size: 1em;
    padding: 1em 1.75em;
  }
}

@media all and (max-width: 350px) {
  #intro {
    h4 {
      font-size: 0.5em;
    }
  }
  #initialpage-bg-color {
    #initialpage {
      #initialpage-content {
        #date {
          font-size: 1.5em;
        }
      }
    }
  }
  .btn {
    font-size: 1em;
    padding: 0.75em 1.5em;
  }
}