@media only screen and (max-width: 860px) {
  #logo {
    img {
      width: 50%;
    }
    h1 {
      font-size: 6em;
    }
  }
  button {
    font-size: 16px;
    margin-bottom: 1px;
  }
  h1 {
    font-size: 1.8em;
  }

}

@media all and (max-width: 660px) {
  h1.header {
      font-size: 4em;
  }
  body {
    padding: 0 20px;
  }

  #faq {
    .faq-item {
      width: 100%;
      padding: 0;
      margin: 2em 0;
      display: block;
      h1 {
        font-size: 1.2em;
      }
      p {
        font-size: 0.9em;
      }
    }
  }

  #sponsor-container {
    p {
      font-size: 1em;
    }
    .tier-container {
      margin: 30px 0;
    }
    #gold-sponsor-container {
      .sponsor {
        width: 80%;
        padding: 0 10%;
        margin: 20px 0;
      }
    }
    #silver-sponsor-container {
      .sponsor {
        width: 45%;
        margin: 2%;
      }
    }
    #bronze-sponsor-container {
      .sponsor {
        width: 30%;
        margin: 1.5%;
      }
    }
  }
  #logo h1 {
    font-size: 5em;
  }
}

@media all and (max-width: 530px) {
  #logo h1 {
    font-size: 4em;
  }
  #date {
    font-size: 2em;
  }

  .btn {
    font-size: 1em;
    padding: 1em 1.75em;
  }

  #initialpage > p {
    font-size: 1.2em;
  }
}

@media all and (max-width: 430px) {
  #logo h1 {
    font-size: 3em;
  }

  #date {
    font-size: 1.5em;
  }

  .btn {
    font-size: 1em;
    padding: 1em 1.75em;
  }

  #initialpage > p {
    font-size: 1em;
  }
}

@media all and (max-width: 412px) {
  #modal button {
    margin-top: 10px;
  }
}

@media all and (max-width: 350px) {
  #logo h1 {
    font-size: 3em;
  }

  #date {
    font-size: 1.5em;
  }

  .btn {
    font-size: 1em;
    padding: 0.75em 1.5em;
  }

  #initialpage > p {
    font-size: 1em;
  }
}