// BEG OF MAILING RESPONSIVE

@media screen and (max-width: 600px) {
    #info {
        font-size: 15px;    
    }

    .alertContainer {
        bottom: 0;
        padding: 5px;
        margin-top: 15px;
    }
    
    #otter {
        display: none;
    }
    
    #emailField {
        width: 60%;
        left: 20%;
        bottom: calc((100% - 300px) / 4.5);
    }
    
    #emailInput {
        position: relative;
        width: 100%;
        left: 0;
    }
    
    #bottle {
        position: relative;
        width: 44%;
        left: 31%;
        top: 10px;
    }
    
    #bottle:active {
        width: 47%;
        left: 27.5%;
    }
    
    #left {
        width: 50%;
        left: -12%;
    }
    
    img#darkKelp {
        width: 45%;
        bottom: 35%;
        left: 10%;
    }
    
    img#greenKelp {
        width: 80%;
    }
    
    #right {
        width: 60%;
        right: -15%;
    }
}

/*iPhone 5/SE and Galaxy S5*/
@media screen and (device-aspect-ratio: 40/71), (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    /*#centerLogo {
        top: calc((100% - 400px) / 2);
    }
    .info-container {
        top: calc((100% - 390px) / 2 + 230.69px);
    }*/
    #emailField {
        bottom: calc((100% - 100px) / 4.5);
    }
    #emailInput {
        font-size: 10px;
    }
}

/*iPhone 6/7/8 and Galaxy S8*/
@media screen and (min-device-width : 375px) and (max-device-width : 667px), (min-width: 360px) and (max-width: 767px) {
    /*#centerLogo {
        top: calc((100% - 400px) / 2);
    }
    .info-container {
        top: calc((100% - 390px) / 2 + 230.69px);
    }*/
    #emailField {
        bottom: calc((100% - 50px) / 4.5);
    }
    #emailInput {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) {
    /*#info {
        font-size: 1.5px;
    }*/

    .alertContainer {
        bottom: 0;
        padding: 5px;
        margin-top: 15px;
    }
    
    #otter {
        width: 120px;
        right: calc((100% - 156px) * .1);
        bottom: 11%;
    }
    
    #emailField {
        width: 46%;
        left: 27%;
        bottom: calc((100% - 230.69px) / 5);
    }
    
    #emailInput {
        position: relative;
        width: 100%;
        left: 0;
    }
    
    #bottle {
        position: relative;
        width: 40%;
        left: 32%;
        top: 10px;
    }
    
    #bottle:active {
        width: 39%;
        left: 32.5%;
    }
    
    #left {
        width: 45%;
        left: -8%;
    }
    
    img#darkKelp {
        width: 40%;
        bottom: 35%;
        left: 10%;
    }
    
    img#greenKelp {
        width: 70%;
        left: 8%;
    }
    
    #right {
        width: 50%;
        right: -8%;
    }
}

@media screen and (min-width: 768px) {
    /*#info {
        font-size: 20px;
    }*/

    .alertContainer {
        bottom: -70%;
        padding: 10px 0;
    }
    
    #emailField {
        width: 44%;
        left: 29.5%;
        bottom: calc((100% - 230.69px) / 4);
    }
    
    #emailInput {
        width: calc(100% - 75px - 10px);
        left: 0;
    }
    
    #bottle {
        width: 75px;
        left: auto;
        right: 0;
        top: auto;
        bottom: -17px;
    }
    
    #bottle:active {
        width: 73px;
        left: auto;
        right: 1px;
        bottom: -16px;
    }
    
    #left {
        width: 35%;
        left: 0;
    }

    img#darkKelp {
        width: 50%;
        left: 0;
        bottom: 25%;
    }

    img#greenKelp {
        width: 75%;
        left: 0;
        bottom: 20%;
    }

    #right {
        width: 40%;
        right: 0;
    }
}

@media screen and (min-width: 992px) {
    #otter {
        width: 156px;
        right: calc((100% - 156px) * .13);
    }
    
    #bottle {
        width: 96px;
        bottom: -20px;
    }
    
    #bottle:active {
        width: 94px;
        bottom: -19px;
    }
    
    #emailInput {
        width: calc(100% - 96px - 25px);
    }
    
    #left {
        width: 28%;
        left: 0;
    }

    #right {
        width: 30%;
        right: 0;
    }
}

@media screen and (min-width: 1200px) {
    #apply {
      --width: 17vw;
      --height: 7vw;
      font-size: 2.6vw;
    }
    
    #otter {
        right: calc((100% - 156px) * .15);
    }
    
    #emailField {
        width: 40%;
        left: 32%;
    }
    
    #bottle {
        width: 116px;
    }
    
    #bottle:active {
        width: 114px;
    }
    
    #emailInput {
        width: calc(100% - 116px - 15px);
    }
    
    div#center {
        width: 80%;
        height: 30vw;
/*        left: 10%;
*/    }

    #centerLogo {
        width: 14vw;
/*        max-height: 250px;
*/        height: auto;
        /*left: 44%;
        top: calc((100% - (13vw * 1.25)) / 2);*/
    }

    #centerInfo {
/*      bottom: calc((100vh - (14vw * .8) - 4vh - 20px - 16px - 6vw) / 2;
*/    }

    #info {
/*        top: calc((100% - (13vw * 1.25)) / 2 + (13vw * 1.25));
*/    }
    
    /*img#lights1 {
        width: 60%;
        left: 25%;
        top: 17%;
    }

    img#lights2 {
        width: 65%;
        left: 14%;
        top: 12%;
    }

    img#spotLight {
        width: 22%;
        top: 19%;
        left: 38%;
    }

    img#wave4 {
      width: 57%;
        left: 3%;
        top: 8%;
    }

    img#wave3 {
      width: 84%;
        left: 18%;
        top: 6%;
    }

    img#wave2 {
      width: 72%;
        left: 15%;
        top: 16%;
    }

    img#wave1 {
      width: 70%;
        left: 15%;
        top: 0;
    }*/
}

@media screen and (max-height: 650px) {
    #landing {
        height: 650px;
    }
}

// END OF MAILING RESPONSIVE

@media only screen and (max-width: 860px) {
  #intro {
    .video {
      width: 70%;
      height: 70%;
      margin: 10%;
    }
  }
}

@media only screen and (max-width: 860px) and (orientation:portrait) {
  #sponsor-container {
    padding: 0 5%;
    #wreaths {
      img {
        width: 25%;
      }
      margin-top: -30px;
    }
  }
  #content-container
  {
    #intro {
      #left {
        width: 100%;
        margin: 0px 0px;
      }
      #right {
        width: 100%;
        #memory {
          img  {
            width: 60%;
            float: right;
          }
        }
      }
    }
  }

  .btn {
    font-size: 14px;
    margin-bottom: 1px;
  }
  h1 {
    font-size: 1.6em;
  }

}

@media only screen and (max-width: 660px) and (orientation:portrait) {
  #intro {
    h4 {
      font-size: 0.7em;
    }
  }
  h1.header {
    font-size: 5em;
    margin: 40px 0px 15px 0px;
  }

  #faq {
    padding: 0;
    .faq-item {
      width: inherit;
      height: auto;
      margin: 0px;
      display: block;
      h1 {
        font-size: 3.2em;
      }
      p {
        font-size: 2em;
      }
    }
  }

  #sponsor-container {
    padding: 0;
    #wreaths {
      img {
        width: 30%;
      }
      margin-top: 0;
    }
    p {
      font-size: 2.5em;
    }
    #plat-sponsor-container {
      .sponsor {
        display: block;
        width: 60%;
        margin: 0 auto;
      }
    }
    #gold-sponsor-container {
      .sponsor {
        display: block;
        width: 50%;
        padding: 0 20%;
        margin: 0 auto;
      }
    }
    #silver-sponsor-container {
      .sponsor {
        width: 40%;
        margin: 2%;
      }
    }
    #bronze-sponsor-container {
      .sponsor {
        width: 25%;
        margin: 1.5%;
      }
    }
  }
}

@media all and (max-width: 530px) {
  #intro {
    h1 {
      font-size: 5em;
    }
    h4 {
      font-size: 2em;
    }
  }

  #intro {
    #values {
      .value {
        width: 20%;
        margin-right: 15%;
      }
    }
  }
}

@media all and (max-width: 350px) {
  #intro {
    h4 {
      font-size: 0.5em;
    }
  }
}


@media only screen and (max-width: 860px) and (orientation:landscape) {
  p {
    font-size: 1.5em;
  }
  #content-container
  {
/*    padding: 10% 4%;
*/  }
  #intro {
    h1 {
      font-size: 5vw;
    }
    h4 {
      font-size: 2vw;
    }
    #left {
      width: 100%;
      margin: 0px 0px;
    }
    #right {
      width: 100%;
      #memory {
        img  {
          width: 60%;
          float: right;
        }
      }
    }
  }
  #faq {
    padding: 50px 0px;
    .faq-item {        
      width: 42%;
      height: 10em;        
      display: inline-block;
      margin: 10px;
      h1 {
        font-size: 1.8em;
      }
      p {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (orientation:portrait) {
  #initialpage-bg-color {
    #initialpage {
      #initialpage-content {
        .logo {
          #logo-img {
            width: 50%;
          }
        }
      }
    }
  }

  #initialpage-bg-color {
    #initialpage {
      #initialpage-content
      {
        flex-direction: column;
        h1
        {
          font-size: 5.5vw;
          margin: 10px;
        }
        h2
        {
          font-size: 4vw;
          margin: 10px;
        }
        .left
        {
          width: 65%;
        }
        .right
        {
          width: 70%;
        }
        .logo
        {
          .graphic
          {
            margin-left: 0px;
          }
        }
      }
    }
  }
  #content-container
  {
    /*padding: 10% 25px;*/
    #faq {
      .faq-item {
        margin: 15px 0px;
      }
    }
    #intro
    {
      .video
      {
        width: 70%;
        height: 70%;
        margin: 10%;
      }
      #summary
      {
        p
        {
          font-size: 2.2em;
        }
      }
    }
  }
}

@media screen and (orientation: portrait) and (max-width: 550px) {
  .mobNavBar {
    display: initial;
  }

  #navBar {
    display: none;
  }

  #apply {
    width: 40vw;
    height: 15vw;
    left: calc((100% - 40vw) / 2);
    bottom: calc((100% - 15vw) / 5);
    font-size: 6vw;
  }

  .ten-circle, .eight-circle, .empty-circle {
    width: 120vw;
    height: 120vw;
  }

  .ten-circle {
    @include on-circle($item-count: 10, $circle-size: 120vw, $item-size: 6em, $divisor: 3);
  }

  .eight-circle {
    @include on-circle($item-count: 8, $circle-size: 120vw, $item-size: 6em, $divisor: 3.1);
  }

  .circle {
    margin-left: -12vw;
    .circle-content {
      p {
        font-size: 3.7vw;
      }
    }
    .round {
      h2 {
        font-size: 5vw;
      }
      p {
        font-size: 3.2vw;
      }
    }
    h1 {
      font-size: 12vw;
      padding-top: 6vw;
    }
  }

  /*#intro h1 {
    font-size: 12vw;
    padding-top: 6vw;
  }*/

 /* .circle .circle-content p {
    font-size: 3.7vw;
  }*/

  p {
    margin-block-start: .5em;
    margin-block-end: 1em;
    margin-inline-start: 17vw;
    margin-inline-end: 17vw;
  }

/*  .circle .round h2 {
    font-size: 5vw;
  }

  .circle .round p {
    font-size: 2.2vw;
  }*/
  #intro {
    #hours {
      display: none;
    }
    #mobHours {
      display: flex;
    }
    .recap {
      display:none;
      #recap-button {
        height: 13vw;
        margin: 0;
        border-radius: 100%;
        border: solid $l-blue;
      }
      h2 {
        color: $l-blue;
        width: 29vw;
        font-size: 4vw;
      }
    }
    h1 {
      font-size: 12vw;
      padding-top: 6vw;
    }
    .circle-content {
      margin-top: 0;
      p {
          margin-left: 26vw;
          margin-right: 26vw;
          /*#first {
            margin-block-start: 4vw;
            margin-block-end: 30vw;
          }
          #second {
          margin-inline-start: 23vw;
          margin-inline-end: 23vw;
          }*/
      }
    }
    .none a {
      display: flex;
      div {
        height: calc(20vw - 3px);
        width: calc(20vw - 3px);
        background-image: url("../webAssets/Asset 38.svg");
        border-radius: 100%;
        border: solid $l-blue;
      }
    }
  }
/*  #intro .recap #recap-button {
    height: 13vw;
    margin: 0;
    border-radius: 100%;
    border: solid $l-blue;
  }

  #intro .recap h2 {
    color: $l-blue;
    width: 29vw;
    font-size: 4vw;
  }*/

  .main-div {
    margin-bottom: 72vw;
  }

/*  .circle h1 {
    font-size: 12vw;
    padding-top: 6vw;
  }*/

  .faq-block {
    bottom: 90vw;
    height: 65vw;
    &::-webkit-scrollbar:vertical {
      width: 3vw;
    }
    .faqArrow {
      top: 4vw;
      right: 2.8vw;
      width: 5vw;
    }
    .answer {
      font-size: 3.8vw;
    }
  }

  #scrollTriangle {
    width: 10vw;
    bottom: 81vw;
  }

  .long-bubble {
    width: 90%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    h1 {
      margin: 3vw;
      font-size: 3.2vw;
    }
    p {
      font-size: 2em;
      margin-inline-start: 0vw;
      margin-inline-end: 0vw;
    }
  }

  #team h1 {
    padding-top: 30vw;
  }

  .bubble {
    height: 20vw;
    width: 20vw;
    right: -7vw;
    bottom: -6vw;
  }

  .team {
    a {
      bottom: 4.1vw;
      right: 3vw;
      &:hover {
        bottom: calc(4.1vw + 3px);
        right: calc(5vw + 3px);
      }
    }
    img {
      width: 17vw;
    }
    .circle-content {
      margin-top: 0;
    }
    p {
      margin-left: 23vw;
      margin-right: 23vw;
    }
    #heartBubble {
      display: none;
    }
  }

  h1.header {
    font-size: 12vw;
    padding-top: 6vw;
  }

  #content-container {
    width: 100vw;
    padding: 0;
    #backgroundFish {
      width: 140vw;
      top: -23vw;
    }
  }

}

@media screen and (min-height: 1200px) and (max-aspect-ratio: 4/3) {
  #landing {
    div#center {
      width: 140vw;
    }

    #otter {
      width: 222px;
    }
  }

  img#greenKelp {
    width: 103%;
  }

  img#darkKelp {
    width: 60%;
  }

  img#blueKelp {
    width: 104%;
  }
  
}