#sponsor-container {
	padding: 0 10%;
	padding-top: 10vw;
	#wreaths {
		margin-top: -50px;
		img {
			width: 20%;
			margin: 0 5%;
		}
	}
	.sponsor {
		display: inline-block;
		opacity: 1;
		img {
			width: 100%;
			vertical-align: middle;
		}
		#uphold-img {
			width: 50%;
		}
		#yc-img {
			width: 50%;
		}
		#high_brew_coffee-img {
			width: 50%;
		}
		#jetbrains-img {
			width: 50%;
		}
		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}
	}
	.tier-container {
		text-align: center;
		padding: 10px 0;
	}
	#plat-sponsor-container {
		.sponsor {
			width: 35%;
			margin: 1.5% 7.5%;
		}
	}
	#gold-sponsor-container {
		.sponsor {
			width: 30%;
			margin: 1.5%;
		}
	}
	#silver-sponsor-container {
		.sponsor {
			width: 20%;
			margin: 2%;
		}
	}
	#bronze-sponsor-container {
		.sponsor {
			width: 14%;
			margin: 1.5%;
		}
	}
	#sponsor-contact-txt {
		margin: 15px 0 40px 0;
	}
}