#sponsor-container {
	background-color: #ffcf35;
	.sponsor {
		display: inline-block;
		img {
			width: 100%;
			vertical-align: middle;
		}
		&:hover {
			opacity: 0.6;
			cursor: pointer;
		}
	}
	.tier-container {
		text-align: center;
		margin: 50px 0;
	}
	#gold-sponsor-container {
		.sponsor {
			width: 30%;
			margin: 1.5%;
		}
	}
	#silver-sponsor-container {
		.sponsor {
			width: 20%;
			margin: 2%;
		}
	}
	#bronze-sponsor-container {
		.sponsor {
			width: 15%;
			margin: 1.5%;
		}
	}
}