<div id="initialpage-bg-color">
	<div id="initialpage">
		<div id="initialpage-content">
			<div id="logo">
				<img id="logo-img" src="/images/logo.png" />
				<img id="star-swirl" src="/images/star-swirl.svg" />
			</div>

			<h1 id="date">January 19-21, 2018</h1>
			<div class="row">
				<!-- Credit to Giana from codepen for button styling https://codepen.io/giana/ -->
				<!--
				<a href="/apply">
					<button class="btn draw-border">Apply</button>
				</a>

				<a href="/login">
					<button class="btn draw-border">Login</button>
				</a>
				-->
				<h1>Apps Open Late November</h1>	
			</div>
		</div>
	</div>
</div>