<div id="initialpage-bg-color">
	<div id="initialpage">
		<div id="initialpage-content">
			<div id="logo">
				<img id="logo-img" src="/images/logo.png" />
				<img id="star-swirl" src="/images/star-swirl.svg" />
			</div>

			<h1 id="date">Check back in October for SB Hacks 2019!</h1>
			<!--
			<div class="row">
				<a href="/schedule.pdf">
					<button class="btn draw-border">Schedule</button>
				</a>

				<a href="/login">
					<button class="btn draw-border">Login</button>
				</a>
			</div>
			-->
		</div>
	</div>
</div>