<div id="initialpage">
	<div id="bg-img">

		<div id="logo">
			<img src="/images/logo.png" />
		</div>

		<div class="row">
			<!-- Credit to Giana from codepen for button styling https://codepen.io/giana/ -->
			<a href="/apply">
				<button class="btn draw-border">Apply</button>
			</a>

			<a href="/login">
				<button class="btn draw-border">Login</button>
			</a>
			
		</div>
		<h1 id="date">January 19-21, 2018</h1>
	</div>
</div>