<div id="initialpage">
	<h1 class="logo">SB Hacks IV</h1>

	<h1 id="date">January 19-21, 2018</h1>

	<div class="row">
		<!-- Credit to Giana from codepen for button styling https://codepen.io/giana/ -->
		<a href="http://sbhacksiii.herokuapp.com">
			<button class="btn draw-border">Past Site</button>
		</a>

		<button class="btn draw-border trigger">Signup</button>
	</div>

	<div id="modal-wrapper">
		<div id="modal">
			<h3>Applications are not yet open</h3>
			<p>Feel free to leave your email here and we will notify you as soon as it is released</p>
			<div id="subscribe_container">
				<form action="/" id="subscribe">
					<label for="email">Email: </label>
					<input type="email" name="email" id="email-input" />
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<p>
		Interested in being a sponsor? <br />
		Shoot us an email at <a href="mailto:ucsbhacks@gmail.com">ucsbhacks@gmail.com</a>
	</p>
</div>