<div id="initialpage-bg-color">
	<div id="initialpage">
		<div id="initialpage-content">
			<div class = "logo left">
				<img class = "graphic" src = "/images/otter.png" />
			</div>
			<div class = "right">
				<div class="logo">
					<img id="logo-img" src="/images/logo.png" />
				</div>
				<h1>January 11-13, 2019</h1>
				<h2>Corwin Pavillion</h2>
				<div class="row">
					<a href="/fb-event">
						<button class="btn draw-border">FB Event</button>
					</a>

					<a href="/login">
						<button class="btn draw-border">Login</button>
					</a>
				</div>
			</div>

			<!--<h1 id="date">Check back in October for SB Hacks 2019!</h1>-->

			

		</div>
	</div>
</div>