<div id="intro" class="main-div">
	<div class="ten-circle circle small">
	  	<h1>ABOUT</h1>
	  	<div class = "circle-content">
		 	<p><span id="first">SB Hacks is a 400-person, 36-hour annual hackathon hosted at University of California, Santa Barbara.</span><br><span id="second">This event aims to provide college students with the necessary resources to get hands-on experience in coding and exposure to the technology industry. We want students leaving SB Hacks feeling proud of themselves and the projects they complete with their team.</p></span>
		 	<div class = "recap">
		 		<h2>SB Hacks V Recap</h2>
		 		<a href="https://www.youtube.com/watch?v=Fv8TzE7_lPA&t" target="_blank"><img class = "grow" id = "recap-button" src="webAssets/Asset 38.svg"/></a>
		 	</div>
		</div>
	  	<li><div class="bubble round bg-overlay-pos grow bounce"><h2>27</h2> <p>Schools</p></div></li>
	  	<li class="none"><a href="https://www.youtube.com/watch?v=Fv8TzE7_lPA&t=10s" target="_blank"><div class="bubble round bg-overlay-pos grow bounce" id="mob-recap-button"></div></a></li>
	  	<li class="none"></li>
	  	<li><div class="bubble round bg-overlay-pos grow bounce" id="hours"><h2>36</h2> <p>Hours</p></div></li>
	  	<li><div class="bubble round bg-overlay-pos grow bounce"><h2>400</h2> <p>Hackers</p></div></li>
	  	<li><div class="bubble round bg-overlay-pos grow bounce"><h2>1700</h2> <p>Applicants</p></div></li>
	  	<li class="none"><div class="bubble round bg-overlay-pos grow bounce" id="mobHours"><h2>36</h2> <p>Hours</p></div></li>
	  	<li class="none"></li>
	  	<li class="none"></li>
	  	<li><div class="bubble round bg-overlay-pos grow bounce"><h2>90</h2> <p>Projects</p></div></li>
	</div>
</div>