<div id="intro">
	<div class="ten-circle circle small">
	  	<h1>ABOUT</h1>
	  	<div class = "circle-content">
		 	<p>UCSB’s 6th annual hackathon is a 36 hour event fostering innovation and creativity through learning by doing, with some wicked prizes up for grabs. While taking breaks from building your projects, you’ll enjoy free meals, attend fun mini-events, interact with industry leaders, and make some friends along the way. We hope to see you there!</p>
		 	<div class = "recap">
		 		<h2>SB Hacks V Recap</h2>
		 		<a href="https://www.youtube.com/watch?v=Fv8TzE7_lPA&t=10s" target="_blank"><img class = "grow" id = "recap-button" src="webAssets/Asset 38.svg"/></a>
		 	</div>
		</div>
	  	<li><div class="bubble round bg-overlay-pos grow"><h2>27</h2> <p>Schools</p></div></li>
	  	<li class="none"></li>
	  	<li class="none"></li>
	  	<li><div class="bubble round bg-overlay-pos grow"><h2>36</h2> <p>Hours</p></div></li>
	  	<li><div class="bubble round bg-overlay-pos grow"><h2>400</h2> <p>Hackers</p></div></li>
	  	<li><div class="bubble round bg-overlay-pos grow"><h2>1700</h2> <p>Applicants</p></div></li>
	  	<li class="none"></li>
	  	<li class="none"></li>
	  	<li class="none"></li>
	  	<li><div class="bubble round bg-overlay-pos grow"><h2>90</h2> <p>Projects</p></div></li>
	</div>
</div>