<html>
  <head>
    <title>SB Hacks IV</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
  </head>
  <body>
    <h1>Hello <%- user.name %> have successfully accessed the content</h1>
    <a href = '/user/logout'>Logout</a>
  </body>
  <!--<script src="/js/request.js"></script>-->
</html>
