<%- include ./partials/header.ejs %>

  <h1>Hello <%- user.name %>, you have successfully accessed the content</h1>
  
  <a href = '/user/logout'>Logout</a>

<%- include ./partials/footer.ejs %>
