<html>
  <head>
    <title>SB Hacks IV</title>
    <link rel="stylesheet" type="text/css" href="/css/application.css" />
  </head>
  <body>
    <form id="signup-form" action="/signup" method="post">
      <input type="text" placeholder="name" name="full_name"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="text" placeholder="Email Address" name="email"/>
      <input type="submit" value="submit" />
    </form>
  </body>
  <!--<script src="/js/request.js"></script>-->
</html>
