<%- include ./partials/header.ejs %>

  <% if (locals.message) { %>
    <h1><%- message %></h1>
  <% } %>
  <form id="login-form" action="/signup" method="POST" enctype="multipart/form-data" onsubmit="return handleSubmit(this)">

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" class="form-control" id="first_name-input" placeholder="What's your first name?" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" class="form-control" id="last_name-input" placeholder="What's your last name?" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email-input" aria-describedby="emailDescr" placeholder="Enter email" required>
      <small id="emailDescr" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password" required>
    </div>

    <div class="form-group">
      <label for="school">School</label>
      <!-- Schools input is disabled temporarily, because I will need to integrate adding data entries for schools -->
      <input type="text" name="school" class="form-control" id="school-input" value="UC Santa Barbara" disabled>
    </div>

    <div class="form-group">
      <label for="year">Year</label>
      <select class="form-control" id="year-input" name="year" placeholder="What year are you?" required>
        <option value="1">1st year college</option>
        <option value="2">2nd year college</option>
        <option value="3">3rd year college</option>
        <option value="4">4th year college</option>
        <option value="5">Graduate Student</option>
      </select>
    </div>

    <div class="form-group">
      <label for="transportation">Transportation</label>
      <select class="form-control" id="transportation-input" name="transportation" placeholder="How will you get here?" required>
        <option value='1'>I can provide my own means of transportation</option>
        <option value='2'>I would prefer to be provided bussing in California</option>
        <option value='3'>I require travel reimbursement (This may or may not be something we can provide)</option>
      </select>
    </div>

    <label class="btn btn-default btn-file">
        <input id="resume-input" type="file" name="resume" hidden>
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<%- include ./partials/footer-signup.ejs %>
