<%- include ./partials/header.ejs %>

  <% if (locals.message) { %>
    <h1><%- message %></h1>
  <% } %>
  <form id="login-form" action="/signup" method="POST" onsubmit="return handleSubmit(this)">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name-input" placeholder="What's your name?" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email-input" aria-describedby="emailDescr" placeholder="Enter email" required>
      <small id="emailDescr" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
    </div>

    <label class="btn btn-default btn-file">
        <input id="resume-input" type="file" name="resume" hidden>
        <input id="resume-src" type="hidden" name="resume-src" value="" />
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<%- include ./partials/footer-signup.ejs %>
