<%- include ./partials/header.ejs %>

  <% if (locals.message) { %>
    <h1><%- message %></h1>
  <% } %>
  <form id="login-form" action="/signup" method="POST" enctype="multipart/form-data" onsubmit="return handleSubmit(this)">

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" class="form-control" id="first_name-input" placeholder="What's your first name?" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" class="form-control" id="last_name-input" placeholder="What's your last name?" required>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email-input" aria-describedby="emailDescr" placeholder="Enter email" required>
      <small id="emailDescr" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password-input" placeholder="Password" required>
    </div>

    <div class="form-group">
      <label for="school">School</label>
      <!-- Schools input is disabled temporarily, because I will need to integrate adding data entries for schools -->
      <input type="password" name="school" class="form-control" id="school-input" value="UC Santa Barbara" disabled>
    </div>

    <label class="btn btn-default btn-file">
        <input id="resume-input" type="file" name="resume" hidden>
        <!--<input id="resume-src" type="hidden" name="resume-src" value="" />-->
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

<%- include ./partials/footer-signup.ejs %>
