<%
	let plat_sponsors = [
		{ name: "as", link: "https://www.as.ucsb.edu/" }
	];
	let gold_sponsors = [
		{ name: "logmein", link: "https://secure.logmein.com/home/en" },
		{ name: "arthrex", link: "https://www.arthrex.com/" },
		{ name: "firebase", link: "https://firebase.google.com/" }
	];
	let silver_sponsors = [
		{ name: "invoca", link: "https://www.invoca.com" },
		{ name: "appfolio", link: "https://www.appfolio.com" },
		{ name: "fastspring", link: "https://fastspring.com/" },
		{ name: "hgdata", link: "https://www.hgdata.com" },
		{ name: "toyon", link: "https://www.toyon.com/" },
		{ name: "lastline", link: "https://www.lastline.com/" },
		{ name: "surfair", link: "https://www.surfair.com/us/" },
		{ name: "ucsb_extension", link: "https://extension.ucsb.edu/" },
		{ name: "lockheed_martin", link: "http://www.lockheedmartinjobs.com/" },
		{ name: "ucsb_coe", link: "https://engineering.ucsb.edu/" }
	];
	let bronze_sponsors = [
		{ name: "bloomberg", link: "https://www.bloomberg.com/" },
		{ name: "montecito", link: "https://montecito.bank/" },
		{ name: "kareo", link: "https://www.kareo.com/" },
		{ name: "ccs", link: "https://www.ccs.ucsb.edu/" },
		{ name: "google", link: "https://careers.google.com/" },
		{ name: "daydream", link: "https://vr.google.com/daydream/" },
		{ name: "balsamiq", link: "https://balsamiq.com/" },
		{ name: "yerba", link: "http://guayaki.com/" },
		{ name: "redbull", link: "https://www.redbull.com" },
		{ name: "yc", link: "https://www.ycombinator.com/" },
		{ name: "jetbrains", link: "https://www.jetbrains.com" },
		{ name: "collegewear", link: "https://collegewearinc.com/" },
		{ name: "ucsb_cs", link: "https://www.cs.ucsb.edu/" },
		{ name: "wolfram", link: "https://www.wolframalpha.com/" },
		{ name: "sparkling_ice", link: "http://www.sparklingice.com/" },
		{ name: "soylent", link: "https://www.soylent.com/" },
		{ name: "pistachios_almonds", link: "https://www.wonderful.com/brands/wonderful-pistachios.html" }
	];
%>

<div id="sponsor-container">
	<h1 class="header">Powered By</h1>
	<div id="wreaths">
		<img src="/images/left-wreath.svg" />
		<img src="/images/right-wreath.svg" />
	</div>
	<div id="sponsors">
		<div id="plat-sponsor-container" class="tier-container">
			<% plat_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "plat"}) %>
			<% }) %>
		</div>
		<div id="gold-sponsor-container" class="tier-container">
			<% gold_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "gold"}) %>
			<% }) %>
		</div>

		<div id="silver-sponsor-container" class="tier-container">
			<% silver_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "silver" }) %>
			<% }) %>
		</div>

		<div id="bronze-sponsor-container" class="tier-container">
			<% bronze_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "bronze" }) %>
			<% }) %>
		</div>
	</div>
	<p id="sponsor-contact-txt">
		Interested in sponsoring? Contact us at <a href="mailto:sponsors@sbhacks.com">sponsors@sbhacks.com</a>
	</p>
</div>

