<%
	let plat_sponsors = [
		{ name: "asfb", link: "https://asfb.as.ucsb.edu/" }
	];
	let gold_sponsors = [
		{ name: "logmein", link: "https://www.logmein.com/" },
		{ name: "firebase", link: "https://firebase.google.com/" }
	];
	let silver_sponsors = [
		{ name: "invoca", link: "https://www.invoca.com/" },
		{ name: "alcon", link: "https://www.alcon.com/" },
		{ name: "amazon", link: "https://www.amazon.jobs/" }
	];
	let bronze_sponsors = [
		{ name: "payjunction", link: "https://www.payjunction.com/payments/" },
		{ name: "balsamiq", link: "https://www.balsamiq.com/" },
		{ name: "coe", link: "https://engineering.ucsb.edu/" },
		{ name: "ccs", link: "https://ccs.ucsb.edu/" },
		{ name: "osl", link: "http://osl.sa.ucsb.edu/" },
		{ name: "comgrants", link: "http://osl.sa.ucsb.edu/campus-organizations/finding-funding/community-grants" },
		{ name: "synapse", link: "http://www.drinksynapse.com/" },
		{name: "hvmn", link: "https://hvmn.com/" },
		{name: "zest", link: "https://www.zesttea.com/" }
	];
%>

<div id="sponsor-container">
	<h1 class="header">SPONSORS</h1>
	<!--
	<div id="wreaths">
		<img src="/images/left-wreath.svg" />
		<img src="/images/right-wreath.svg" />
	</div>-->
	<div id="sponsors">
		<div id="plat-sponsor-container" class="tier-container">
			<% plat_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "plat"}) %>
			<% }) %>
		</div>
		<div id="gold-sponsor-container" class="tier-container">
			<% gold_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "gold"}) %>
			<% }) %>
		</div>

		<div id="silver-sponsor-container" class="tier-container">
			<% silver_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "silver" }) %>
			<% }) %>
		</div>

		<div id="bronze-sponsor-container" class="tier-container">
			<% bronze_sponsors.forEach(sponsor => { %>
				<% let { name, link } = sponsor; %>
				<%- include("sponsor", { name, link, tier: "bronze" }) %>
			<% }) %>
		</div>
	</div>
	<p id="sponsor-contact-txt">
		Interested in sponsoring? Contact us at <a href="mailto:sponsors@sbhacks.com">sponsors@sbhacks.com</a>
	</p>
</div>

